{% extends "base.html.j2" %}
{% block content %}

  <h1>Add a User</h1>
  <p>Add a new owner with the form below:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.name.label }} {{ form.name() }}<br>
      {{ form.submit() }}
  </form>

{% endblock %}
