{% extends "base.html.j2" %}
{% from 'field_macro.html.j2' import render_field %}


{% block title %} Login  {% endblock %}

{% block content %}
<div class="d-block p-2 bg-light">
<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ render_field(form.email) }}<br><br>
    {{ render_field(form.password) }}<br>
    {{ form.submit() }}
</form>
</div>
{% endblock %}
