{% extends "base.html.j2" %}
{% from 'field_macro.html.j2' import render_field %}
{% block title %} Register {% endblock %}



{% block content %}
<div class="d-block p-2 bg-light">
{% for mess in get_flashed_messages()  %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {{ mess }}
</div>
{% endfor %}


<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}

    {{ form.hidden_tag() }}

    {{ render_field(form.email) }}<br>

    {{ render_field(form.username) }}<br>

    {{ render_field(form.password) }}<br>

    {{ render_field(form.pass_confirm) }}<br>

    {{ form.submit() }}
</form>
</div>
{% endblock %}
