{% extends "base.html.j2" %}

{% block title %} Register {% endblock %}

{% block content %}
<div class="d-block p-2 bg-light">
{% for mess in get_flashed_messages()  %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {{ mess }}
</div>

{% endfor %}

<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email() }}<br>
    {{ form.username.label }} {{ form.username() }}<br>
    {{ form.password.label }} {{ form.password() }}<br>
    {{ form.pass_confirm.label }} {{ form.pass_confirm() }}<br>
    {{ form.submit() }}
</form>
</div>
{% endblock %}
