{% extends "base.html.j2" %}
{% block content %}
  <h1>What did you buy?</h1>
  <p>Fill out the form to remove an item from your list of needed supplies.</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.id.label }} {{ form.id() }}
      {{ form.submit() }}
  </form>
{% endblock %}
