{% extends 'base.html.j2' %}

{% block title %} This weeks list {% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col md-12">
      <div class="d-block p-2 bg-light">
        <h2>Manage
          <b>Items</b>
          <button type="button"  class="btn btn-success float-right" data-toggle="modal" data-bs-target="#mymodal">
            Add New Items
          </button>
        </h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="close">
              <span aria-hidden="true">x</span>
            </button>
        {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <table class="table table-hover table-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Is Bought</th>
            <th>Requested By</th>
            <th>Action</th>
          </tr>
          {% for item in items %}
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.is_bought}}</td>
            <td>{{item.user_id}}</td>
            <td>
              <a href="/update/{{item.id}}" class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit{{item.id}}">Edit</a>
              <a href="/delete/{{item.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
            </td>
          </tr>

          <div class="modal fade" id="modaledit{{item.id}}" data-bs-backdrop="static" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Update Information</h4>
                </div>
                <div class="modal-body">
                  <form action="{{url_for('update')}}" method="POST">
                    <div class="form-group">
                      <label>Name:</label>
                      <input type="hidden"  name="id" value="{{item.id}}">
                      {{ form.name.label }} {{ form.name(class="form-control",value=item.name) }}
                    </div>
                    <div class="form-group">
                      <label>Is Bought:</label>
                      <input type="text" class="form-control" name="email" value="{{item.is_bought}}">
                    </div>
                    <div class="form-group">
                      <label>User:</label>
                      <input type="text" class="form-control" name="phone" value="{{item.user_id}}">
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </table>
      </div>


      <div id="mymodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Item</h4>
            </div>
            <div class="modal-body">
              <form action="{{url_for('items.store')}}" method="POST">
                {# This hidden_tag is a CSRF security feature. #}
                {{ form.hidden_tag() }}
                <div class="form-group">
                  {{ form.name.label }} {{ form.name(class="form-control")}}
                </div>
                <div class="form-group">
                  {{form.submit(class="btn btn-primary")}}
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
