{% extends "base.html.j2" %}
{% block content %}

  <h1>Welcome to Cuneiform, script your needs.</h1>
  {% if current_user.is_authenticated %}
  <p>Hi {{current_user.username}}</p>
  {% else %}
  <p>Please login or register</p>
  {% endif %}

{% endblock %}
